body{
    background-color: rgb(58, 58, 58);
}

.container{
    background-color: white;
    height: 100%;
}

#msgResposta{
    color: red;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}