body {
    background-color:#1ba50e;
}

h1{
    color: #faf205;
}

#minhaDiv1{
    background-color: blue;
}

#minhaDiv2{
    background-color: #003500;
}

.textoBranco{
    color: white;
    font-family: Arial;
}